@* Dando submit no formulario e direcionado para a Controller Adicona, que ira fazer o cadastro *@
<form action="/Produto/Adiciona" method="post">
    @Html.ValidationMessage("produto.Invalido")

    <label for="nome">Nome:</label>
    @* Para que o controller receba a instancia Produto, e não atributos separados, deve seguir o padão de atributos do objeto, com "produto." na frente *@
    <input class="form-control" id="nome" name="produto.Nome" value="@ViewBag.Produto.Nome" />
    @* Exibindo mensagem de validação, (É exibido apenas sé não for cumprido a validação) *@
    @Html.ValidationMessage("produto.Nome")

    <label for="preco">Preço:</label>
    <input class="form-control" id="preco" name="produto.Preco" value="@ViewBag.Produto.Preco" />
    @Html.ValidationMessage("produto.Preco")

    <label for="quantidade">Quantidade:</label>
    <input class="form-control" id="quantidade" name="produto.Quantidade" value="@ViewBag.Produto.Quantidade" />

    <label for="descricao">Descrição:</label>
    <input class="form-control" id="descricao" name="produto.Descricao" value="@ViewBag.Produto.Descricao" />

    <label for="categoria">Categoria:</label>
    <select class="form-control" id="categoria" name="produto.CategoriaId">
        @foreach (var categoria in ViewBag.Categorias)
        {
            <option value="@categoria.Id" selected="@categoria.Id.Equals(ViewBag.Produto.CategoriaId)">
                @categoria.Nome
            </option>
        }
    </select>
    <br />
    <input class="form-control" type="submit" value="Cadastrar" />
</form>

